<p-menubar >
  <ng-template pTemplate="start">
    <img src="assets/images/logo.png" height="40" class="p-mr-2 logo">
    <a class="m-auto mr-3 logoTitle" href="/home">BiH Konzulat</a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="menuElements">
      <a class="m-auto mr-3 menuElement" href="/dashboard">DASHBOARD</a>
      <a class="m-auto mr-3 menuElement" href="/about">ABOUT</a>
      <a class="m-auto mr-3 menuElement" (click)="logout()">LOGOUT</a>
    </div>
  </ng-template>
</p-menubar>

<h1 class="title">GENERALNI KONZULAT BOSNE I HERCEGOVINE</h1>
<div class="content">
  <div class="flagImg">
    <img src="assets/images/flag.jpg" >
  </div>

  <div class="aboutContent">
    <h4>KONTAKT</h4>
    <p>
      <br/>
      Telefon:
      <br/>
      +49 69 907 486 40
      <br/><br/>
      Fax:
      <br/>
      +49 69 907 486 427
      <br/><br/>
      Informacije o pasošima:
      <br/>
      +49 69 907 486 43
      <br/><br/>
      Informacije o državljanstvu:
      <br/>
      +49 69 907 486 45
      <br/><br/>
      E-mail adresa:
      <br/>
      konzulat@bih.ba
    </p>
  </div>
</div>

<div class="footer">
  <div class="footerElement">
    <p>RADNO VRIJEME
      <br/>
      <br/>
      Generalni Konzulat:
      <br/>
      Od ponedjeljka do petka
      od 09:00 do 17:00 sati.
      <br/><br/>
      Rad sa strankama:
      <br/>
      Svaki radni dan od 09:00 do 14:00 sati.
      <br/><br/>
      Pružanje konzularnih informacija:
      <br/>
      Svaki radni dan od 14:00 do 15:00 sati.
      <br/><br/>
      Termini se ne zakazuju.</p>
  </div>
  <div class="footerElement">
    <p>
      KONTAKT
      <br/><br/>
      Telefon:
      <br/>
      +49 69 907 486 40
      <br/><br/>
      Fax:
      <br/>
      +49 69 907 486 427
      <br/><br/>
      Informacije o pasošima:
      <br/>
      +49 69 907 486 43
      <br/><br/>
      Informacije o državljanstvu:
      <br/>
      +49 69 907 486 45
      <br/><br/>
      E-mail adresa:
      <br/>
      konzulat@bih.ba
    </p>

  </div>
  <div class="footerElement">
    <p>
      ADRESA
      <br/><br/>
      Generalni Konzulat Bosne i Hercegovine
      <br/><br/>
      Konzulat 12
      <br/>
      12345 Adresa
    </p>
  </div>
</div>
