<app-home-menu></app-home-menu>

<h1 class="title">GENERALNI KONZULAT BOSNE I HERCEGOVINE</h1>
<div class="content">
  <div class="flagImg">
    <img src="assets/images/flag.jpg" >
  </div>

  <div class="aboutContent">
    <h4>KONTAKT</h4>
    <p>
      <br/>
      Telefon:
      <br/>
      +49 69 907 486 40
      <br/><br/>
      Fax:
      <br/>
      +49 69 907 486 427
      <br/><br/>
      Informacije o pasošima:
      <br/>
      +49 69 907 486 43
      <br/><br/>
      Informacije o državljanstvu:
      <br/>
      +49 69 907 486 45
      <br/><br/>
      E-mail adresa:
      <br/>
      konzulat@bih.ba
    </p>
  </div>
</div>

<app-footer></app-footer>
