.elements {
    display: inline-flex;
    color: rgba(0, 0, 0, 0.5);
    height: 100%;
  }
  
  .page-title {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
  }
  .labels {
    font-size: 15px;
    margin: 15px 0 5px;
  }
  
  .action-btns {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .btn {
    background: #7a71ff;
    box-shadow: none;
    border: none
  }
  
  .btn:hover {
    background: #655dd9
  }
  
  .deleteButton {
    background-color: red;
  }
  
  .update-content {
    width: 60%;
    margin: auto;
  }
  
  .selected-role {
    width: 90%;
    margin: auto;
  }
  
  .labels {
    font-size: 15px;
    margin: 15px 0 5px;
  }
  
  .roles-list {
    flex: 50%;
  }
  
  .table{
    flex: 50%;
  }
  
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
  }
  
  :host ::ng-deep .p-datatable-tbody  > tr > td {
    text-align: center;
    cursor: pointer;
  }
  
  .saveBtn {
    text-align: center;
  }
  