@import  "~primeicons/primeicons.css";

.elements {
  display: inline-flex;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.tcontainer {
    display: flex;
    margin: 1%;
    flex-direction: column;
}

.main-title {
  text-align: center;
  margin: 40px 0;
  font-size: 40px;
}

th, td{
    word-break: break-all;
}
