<app-dashboard-horizontal-menu></app-dashboard-horizontal-menu>

<div class="elements">
  <app-dashboard-vertical-menu></app-dashboard-vertical-menu>
  <div>
    <h1 class="page-title" >Documents</h1>
    <p-table [value]="documents" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Date of experation</th>
          <th>Active</th>
          <th>Download</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-document>
        <tr>
          <td>{{document.requestId}}</td>
          <td>{{document.typeId}}</td>
          <td>{{document.dateOfExpiration}}</td>
          <td>{{document.active}}</td>
          <td>
            <mat-icon href="{{document.url}}" aria-hidden="false" aria-label="Download icon">download</mat-icon>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

