<app-dashboard-horizontal-menu></app-dashboard-horizontal-menu>

<div class="elements">
  <app-dashboard-vertical-menu></app-dashboard-vertical-menu>
  <div>
    <h1 class="page-title" >Documents</h1>
    <p-table [value]="documents" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th>Date of experation</th>
          <th>Active</th>
          <th>View document</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-document>
        <tr>
          <td>{{document.title}}</td>
          <td>{{ document.dateOfExpiration | date:'medium' }}  </td>
          <td>{{document.active ? 'Active' : 'Not active'}}</td>
          <td>
            <a href="{{document.url}}" target="_blank">
              <mat-icon aria-hidden="false" aria-label="Visibility icon">visibility</mat-icon>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

