.elements {
    display: auto;
    color: rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  .page-title {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
  }

  .labels {
    font-size: 15px;
    margin: 15px 10px 0px 0px;
  }

.action-btns {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
    text-align: center;
  }

  .btn {
    background: #7a71ff;
    box-shadow: none;
    border: none;
    width: 50%;
  }

  .btn:hover {
    background: #655dd9
  }

  .buttonCenter {
    text-align: center;
  }

  .labelBlock {
    display: block;
  }

input {
  width: 100%;
}
