.elements {
  display: inline-flex;
  color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.page-title {
  text-align: center;
  margin: 40px 0;
  font-size: 40px;
}

.deleteButton {
  background-color: red;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: center;
}

:host ::ng-deep .p-datatable-tbody  > tr > td {
  text-align: center;
  cursor: pointer;
}
