<app-dashboard-horizontal-menu></app-dashboard-horizontal-menu>

<div class="elements">
  <app-dashboard-vertical-menu></app-dashboard-vertical-menu>
  <div class="content">
    <h1 class="page-title" >Welcome!</h1>
    <h3 class="aboutContent">If you have some questions, here is our contact:</h3>
    <div class="aboutContent">
      <p>
        Phone:
        <br/>
        +49 69 907 486 40
        <br/><br/>
        Fax:
        <br/>
        +49 69 907 486 427
        <br/><br/>
        Passport information:
        <br/>
        +49 69 907 486 43
        <br/><br/>
        Citizenship information:
        <br/>
        +49 69 907 486 45
        <br/><br/>
        E-mail address:
        <br/>
        konzulat@bih.ba
      </p>
    </div>
  </div>
</div>

